@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    height: 60px;
    width: 50%;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(245, 171, 171);
}

.navbar li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 0 12px;
    line-height: 80px;
}

.topleft {
    width: 50%;


}

.topright {
    width: 50%;
    height: 50vh;
}

.section1 {
    padding: 100px 0;
    max-height: 100vh;
}

.section h1 {
    font-size: 2rem;
}

.logo {
    font-size: 2rem;
}

.dumbellimg {
    width: 200px;
    height: auto;
}

.topright .logoimg {
    width: 600px;
    height: auto;
}

.section2 {
    padding: 73px 0;
}

.section2 h1 {
    font-size: 3rem;
}

.section2 p {
    padding: 0.8vw;
    text-align: center;
}

.box {
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(24, 33, 156);
    border-radius: 8px;
    text-align: center;
}

.box h2 {
    font-size: 2rem;
    padding: 15px 0;
}

.box ul {
    list-style-type: none;
}

.box ul li {
    margin: 12px 2px;
}

.highlited {
    font-size: 1.2rem;
    font-weight: bolder;
}

.plantable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table {
    width: 100%;
    margin-bottom: 140px 0;
    margin-top: 20px 0;
    border-collapse: collapse;
}

.section3 table th {
    width: 23vw;
    border-bottom: 2px solid black;
    padding: 15px 0;
}

.section3 table td {
    border-bottom: 2px solid black;
}

.section3 h1 {
    font-size: 2rem;
}

.section3 {
    padding: 73px 0;
}

footer {
    padding: 23px;
    text-align: center;
}